@import "./normalize";
@import "./container";
@import "./mixin";
@import "./variables";



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}