.insure{
    margin-top: 80px;

    &__list{
        display: flex;
        justify-content: space-between !important;
        align-items: center;
    
    }
    
    &__item1{
        margin-left: 200px;
    }

    &__title{
        font-family: 'Ibarra Real Nova';
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        color: #33323D;
    }

    &__text{
        width: 45%;
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        opacity: 0.8;
    }

    &__restange{
        border-top: 2px solid #33323D;
        width: 450px;
        height: 1px;
        opacity: 0.15;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    &__restange1{
        border-bottom: 2px solid #33323D;
        width: 100px;
        height: 1px;
        opacity: 0.15;
    }


}